
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tienda</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/PluginsCSS")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url(/Content/imgPrueba/fondo1.jpg);
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: white">

        <!--Prueba de contenedor con texto-->
        <!--***************************************************************************************************************************-->
        <div class="container" style="width:100%; margin-top:20px; ">


            <div class="container" style="width:100%; margin-top:20px; ">
                <img src="~/Content/imgPrueba/logo1.jpg" width="100" height="100" />
                <div class="titulo">
                    <br />
                    <br />
                    <div class="contenedor"><b style="font-family:'Brush Script MT'; font-size:300%; color:black;">Camping-Halcón</b></div>
                    <br />
                    <div class="contenedor"><b style="font-family:'Brush Script MT'; font-size:200%; color:black;">Slogan</b></div>
                </div>
                
            </div>

            <style>
                .contenedor {
                    position: relative;
                    display: inline-block;
                    text-align: center;
                }

                .contenedor2 {
                    position: relative;
                    display: inline-block;
                }


                .centrado {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .centrado2 {
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .titulo {
                    position: absolute;
                    display: inline-block;
                }

                .titulo2 {
                    position: absolute;
                    display: inline-block;
                    left: 65%;
                    top: 12%;
                }
            </style>
            <!--***************************************************************************************************************************-->
            <!---->
            <br />
            <div class="navbar navbar-inverse ">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    @Html.ActionLink("Empleado", "Categorias", "Categoria", new { area = "" }, new { @class = "navbar-brand" })
                                    @Html.ActionLink("Paqueteria", "PruebaView", "Prueba", new { area = "" }, new { @class = "navbar-brand" })
                                    @Html.ActionLink("Categoria", "PruebaView", "Prueba", new { area = "" }, new { @class = "navbar-brand" })
                                    @Html.ActionLink("Productos", "PruebaView", "Prueba", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                    </div>

                </div>
            </div>

            <!------Barra de navegación--->
            <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">

                <!-- Navbar Brand-->
                <a class="navbar-brand ps-3" href="@Url.Action("Index","Tienda")" style="width:180px !important">Inicio</a>
                <!-- Sidebar Toggle-->
                <button class="btn btn-dark btn-ver-categoria" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i> Ver Categorias</button>

                <!-- Navbar-->
                @{
                    if (((ProyectoTest.Models.Usuario)Session["Usuario"]).EsAdministrador == false)
                    {
                        <form action="@Url.Action("Carrito","Tienda")" method="post" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                            <button class="btn btn-close-white" type="submit">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="badge bg-dark text-white ms-1 rounded-pill contador-carrito">0</span>
                            </button>
                        </form>

                        <ul class="navbar-nav me-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Tienda")">Ir a Tienda</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Compras","Tienda")">Mis Compras</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Tienda")">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                }

            </nav>

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <div class="container" style="background-color: white ">
                        <p style="color:white;">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                        <p style="color:white;">hola</p>

                    </div>

                </footer>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #232120;">
        <div class="contenedor2">

            <p style="color:white; font-size:100%; ">Contactanos: </p>
            <p style="color:white;">
                Av. Universidad 1200, Col. Xoco, Ciudad de México, Alcaldía Benito Juárez C.P. 03330 <br />
                Tel: 123456789 <br />
                Email: contacto@tecnm.m
            </p>
            <p style="color:white;">
                Redes sociales:
            </p>

            <div>
                <div class="contenedor">
                    <img src="~/Content/imgPrueba/f.png" width="50" height="50" />

                </div>

                <div class="contenedor">
                    <img src="~/Content/imgPrueba/t.png" width="50" height="50" />

                </div>
                <div class="contenedor">
                    <img src="~/Content/imgPrueba/i.png" width="50" height="50" />

                </div>


            </div>

            <p style="color:white;">&copy; @DateTime.Now.Year - Equipo 4</p>
        </div>

        <div class="contenedor">

            <p style="color: #232120;">
                Av. Universidad 1200, Col. Xoco, Ciuda
            </p>
        </div>

        <div class="titulo">
            <div>
                <div class="contenedor">
                    <img src="~/Content/imgPrueba/logo1.jpg" width="80" height="80" />


                    <div class="contenedor" style="margin-left: 30px;">
                        <br />
                        <br />
                        <p style="color:white;">Tarjetas:</p>
                        <div class="contenedor">
                            <img src="~/Content/imgPrueba/tarjeta1.png" width="50" height="50" />

                        </div>
                        <div class="contenedor">
                            <img src="~/Content/imgPrueba/tarjeta2.png" width="50" height="50" />

                        </div>

                    </div>
                </div>

            </div>
            <br />
            <br />

            <p style="color:white;">
                Instituto Tecnologico de Toluca, E-commerce 2022
            </p>
        </div>
    </div>
    <!----------------------------------------------------------->
    
    
    <div class="position-fixed top-0 end-0 p-3 mt-5" style="z-index: 5">
        <div id="toast-carrito" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-body bg-success text-white">
                <div class="d-flex">
                    <i class="fas fa-check fa-2x"></i> <label style="margin-left: 10px !important">Se añadió al carrito!</label>
                </div>
            </div>
        </div>
    </div>

    <div class="position-fixed top-0 end-0 p-3 mt-5" style="z-index: 5">
        <div id="toast-alerta" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="toast-body bg-danger text-white">
                <div class="d-flex">
                    <i class="fas fa-exclamation-circle fa-2x"></i> <label id="mensaje-error" class="ml-2" style="margin-left: 10px !important">Error</label>
                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/PluginsJS")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script>


            $(document).ready(function () {
                obtenerCantidad();
            })
            function obtenerCantidad() {
                jQuery.ajax({
                    url: '@Url.Action("CantidadCarrito", "Tienda")',
                    type: "GET",
                    data: null,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".contador-carrito").text(data.respuesta);
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    },
                });

            }
            $(document).on('click', '.btn-agregar-carrito', function (event) {

                var request = {
                    oCarrito: {
                        oProducto: { IdProducto: $(this).data("idproducto")  }
                    }
                }

                jQuery.ajax({
                    url: '@Url.Action("InsertarCarrito", "Tienda")',
                    type: "POST",
                    data: JSON.stringify(request),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var actual = parseInt($(".contador-carrito").text());
                        if (data.respuesta != 0) {
                            actual = actual + 1;
                            $(".contador-carrito").text(actual);
                            $('#toast-carrito').toast('show');
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    },
                });

            });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
